@using Microsoft.AspNetCore.Identity

@* @inject SignInManager<IdentityUser> SignInManager *@
@inject UserManager<IdentityUser> UserManager

@{
  ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/perfil.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/publicacionList.css" />



<!-- Card 1 - Información del Usuario -->
<div class="card-blanco row mx-auto">
  @{
    var col6 = "";
    if (ViewBag.Email != null)
    {
      col6 = "col-md-6";
    }
  }

  <div class="col-12 @col6 ">
    <input type="hidden" id="UsuarioID" value="@ViewBag.UsuarioID">

    <div class="card-header">Información de la Cuenta <i class="bx bx-show" title="Información Publica"></i></div>
    <div class="user-info">
      <div class="div-select">
        <a href="../../Identity/Account/manage" class="btn-info-perfil"><b>Nombre de usuario:
          </b>@ViewBag.UserName</a>
      </div>
      <div class="div-select">
        <p>@ViewBag.Age siendo parte de AgroServices</p>
      </div>
      <div class="div-select">
        <p><b>Localidad: </b>@ViewBag.Ubication</p>
      </div>
    </div>
    <div class="user-info">
      <label><b>Valoracion Promedio:</b></label>
      <input type="hidden" id="ValoracionPuntaje" value="@ViewBag.ValoracionPuntaje">
      <div id="ValoracionPromedio"></div>
    </div>
  </div>
  @{
    if (ViewBag.Email != null)
    {
      <div class="col-12 col-md-6">
        <div class="card-header">Información del Usuario <i class="bx bx-hide" title="informacion Privada"></i></div>
        <div class="user-info">
          <div class="div-select">
            <a class="btn-info-perfil" href="../../Identity/Account/manage"><b>Nombre Completo:
              </b>@ViewBag.PersonalName</a>
          </div>
          <div class="div-select">
            <a class="btn-info-perfil" href="../../Identity/Account/manage"><b>Telefono:
              </b>@ViewBag.PhoneNumber</a>
          </div>
          <div class="div-select">
            <a class="btn-info-perfil" href="../../Identity/Account/manage/ChangeEmail"><b>Email:
              </b>@ViewBag.Email</a>
          </div>
        </div>
      </div>
    }
  }
</div>

<!-- Card 2 - Lista de publicaciones asociadas a la cuenta -->
<div class="card-blanco mx-auto">
  <div class="card-header">Publicaciones Relacionadas</div>
  <div id="tbody-publicaciones">
  </div>
  <div id="paginationContainer" class="row">
    <div id="pagination" class="col-12 col-md-6">
    </div>

    <div id="paginationInfo" class="col-12 col-md-6">
      <p id="paginationText"></p>
      <label for="selectElementosPorPagina">Mostrar por página:</label>
      <select id="selectElementosPorPagina" onchange="PublicacionesPorPagina(this.value)">
        <!-- ...opciones... -->
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
    </div>
  </div>
</div>


@section Scripts {
  <script src="~/js/tablas/perfil-1.0.0.js"></script>
  <script src="~/js/estrellas.js"></script>
}
